<%= form_with(model: @post, local: true) do |form| %>
  <div class="mb-4">
    <%= form.label :tweet, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_area :tweet, minlength: 2, maxlength: 140, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500" %>
  </div>

  <div class="actions">
    <%= form.submit "Post", class: "w-full bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400" %>
  </div>
<% end %>
