<div class="post" id="post-<%= post.id %>">
  <div class="text-lg mt-4"><%= post.user.full_name %></div>
  <div class="flex">
    <div class="text-md text-white"><%= post.tweet %></div>
  </div>
</div>
