<div class="text-white p-6 rounded-lg shadow-lg max-w-4xl mx-auto">
  <div>
    <%= turbo_frame_tag id='new_post', src:new_post_path %>
  </div>

  <div id="posts" class="mt-4">
    <% @posts.each do |post| %>
      <%= link_to post_path(post) do %>
        <div class="border border-gray-600 text-white rounded-lg p-4 mb-4">
          <%= render 'post', post: post %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
